$ch-purple: #8989BA;
$ch-gray: #9099A3;

h1 {
  font-weight: lighter;
}

h4 {
  color: $ch-gray;
  font-weight: lighter;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: gold;
  // text-decoration: underline;
  // text-decoration-color: gold;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: inherit !important;
}

.subtitle {
  color: $ch-gray;
  font-weight: lighter;
}

.pt1 {
  padding-top: 1em;
}

.pt05 {
  padding-top: 0.5em;
}

.tc {
  text-align: center;
}

.tl {
  font-weight: lighter;
}

.circle {
  border-radius: 50%;
}